<% @issues.each do |issue| %>
  <h2><%= issue.name %></h2>
  <%= form_for issue, method: :patch do |f| %>
    <%= f.label :pdf %> <br />
    <%= f.file_field :pdf %>
    <%= f.submit "Update Issue" %>
  <% end %>
<% end %>
