<% content_for :head do %>
  <%= stylesheet_link_tag 'issue_orders' %>
  <%= javascript_include_tag 'issue_orders' %>
<% end %>

<div id='image-holder-new-issue'>
  <div id='dark-gray-layer'>
    <h1 id='purchase-title'>Get An Issue!</h1>

    <div class="container_purchase">
    <% if flash[:notice] %>
      <p class='notice'><%= flash[:notice] %></p>
    <% end %>

      <div class="row">
        <div class="six columns text-center">
          <%= form_for([@issue, @issue_order]) do |f| %>
            <% if @issue_order.errors.any? %>
              <div class="error_messages">
                <h2><%= pluralize(@issue_order.errors.count, "error") %> occurred. </h2>
                <ul>
                  <% @issue_order.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <% f.hidden_field :issue_id %>
            <div class="field">
              <%= f.label :email %>
              <%= f.text_field :email %>
            </div>
            <div class="actions"><%= f.submit "Get Issue", id: "submit_issue_order" %></div>
          <% end %>
        </div>
      </div>

      <div class="errors"></div>
    </div>

  </div>
</div>