<div class="container">
  <%= form_for([@issue, @issue_order]) do |f| %>
    <% if @issue_order.errors.any? %>
      <div class="error_messages">
        <h2><%= pluralize(@issue_order.errors.count, "error") %> occurred. </h2>
        <ul>
          <% @issue_order.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% f.hidden_field :issue_id %>
    <%= f.hidden_field :stripe_card_token %>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= label_tag :card_number, "Credit Card Number " %>
      <%= text_field_tag :card_number, nil, name: nil %>
    </div>
    <div class="field">
      <%= label_tag :card_code, "Security Code on Card (CVV) " %>
      <%= text_field_tag :card_code, nil, name: nil %>
    </div>
    <div class="field">
      <%= label_tag :card_month, "Card Expiration " %>
      <%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month"} %>
      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year + 15}, {name: nil, id: "card_year"} %>
    </div>
    <div id="stripe_error"></div>
    <div class="actions"><%= f.submit "Purchase Issue", id: "submit_issue_order" %></div>
  <% end %>
  <div class="errors"></div>
</div>
