<% posts.each do |post| %>
  <div>
    <a href="<%= post_path(post) %>"><p class='title'><%= post.title %></p></a>
    <p class='body'><%= post.body %></p>
    <%# if admin_signed_in? %>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Delete', post, method: :delete %>
    <%# end %>
  </div>
  <br>
<% end %>