<div id='image-holder-login'>
  <div id='logo-holder'><img src="/assets/IBR_logo.png"></div>

  <div id='login'>
    <h2 id='login-header'>LOGIN</h2>
    
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class='form-input'><%= f.label :username, 'USERNAME: ' %>
      <%= f.text_field :username, :autofocus => true %></div>

      <div class='form-input'><%= f.label :password, 'PASSWORD:' %>
      <%= f.password_field :password %></div>
      <br>
      <div id='submit'><%= f.submit "Sign in", id: 'submit-btn' %></div>
    <% end %>
  </div>
</div>