<div id='image-holder-login'>
  <div id='logo-holder'><img src="/assets/IBR_logo.png"></div>

  <div id='login'>
    <h2 id='login-header'>LOGIN</h2>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div><%= f.label :username %><br />
      <%= f.text_field :username, :autofocus => true %></div>

      <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>

      <div><%= f.submit "Sign in" %></div>
    <% end %>
  </div>
</div>