<% content_for :head do %>
  <%= stylesheet_link_tag 'post_form' %>
  <%= stylesheet_link_tag 'submit_button' %>
<% end %>

<%= form_for @post, url: "/posts/#{@post.id}" do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation" >
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class='field'>
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>

  <div class='field'>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>

  <div class='field'>
    <%= f.label :story_type %><br>
    <%= f.select :story_type, Post.story_types, include_blank: true, allow_blank: false %>
  </div>

  <div class='field'>
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>

  <div class="actions" id='submit'>
    <%= f.submit 'Save', id: 'submit-btn' %>
  </div>

  <%= render 'posts/back_button' %>
<% end %>
