<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class='field'>
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>

  <div class='field'>
    <%= f.label :story_type %><br>
<!--     <select name='post[story_type]' id='post_story_type'>
      <%# Post.story_types.each do |story_type| %>
        <option value='<%#= story_type %>'><%#= story_type %></option>
      <%# end %>
    </select> -->
    <%= f.select :story_type, Post.story_types, include_blank: true, allow_blank: false %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>