<% posts.each do |post| %>
  <div class='column-body' data-toggle='modal' data-target="#modal-content-<%= post.id %>">
    <a id="<%= post.id %>" href="<%= post_path(post) %>" class='post-preview'>
      <div class='title'><%= post.title %></div>
      <div class='author'>BY <%= post.author %></div>
      <div class='body'><%= post.preview %></div>
    </a>
    <%= render 'posts/edit_delete', post: post %>
  </div>

  <%= render 'posts/post_modal', post: post %>
  <br>
<% end %>
