<div id="modal-content-<%= post.id %>" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                  <h3><%= post.title %></h3>
              </div>

              <div class="modal-body">

                  <p id='post-author'>
                    by <%= post.author %>
                  </p>

                  <p id='post-body'>
                    <%= post.body %>
                  </p>

                  <%= render 'posts/edit_delete', post: post %>
                  <%= render 'posts/back_button' %>
              </div>
          </div>
      </div>
  </div