<% posts.each do |post| %>
<div class='post-container' id="post-position-<%= post.position %>-id-<%= post.id %>">

  <div class="column-body <%= post.story_type %>-column" data-toggle='modal' data-target="#modal-content-<%= post.id %>">

    <div class='article-column'>
      <a id="<%= post.id %>" href="<%= post_path(post) %>" class='post-preview'>
        <div class='title'><%= post.title %></div>
        <div class='author'>BY <%= post.author %></div>
        <div class='image-container'>
          <%= render 'posts/image', { post: post, image_type: 'scale' } %>
        </div>
      </a>
    </div>

    <br />
    <%= render 'posts/edit_delete', post: post %>
  </div>

  <%= render 'posts/post_modal', post: post %>
  <br>

  <%= render 'posts/position_arrows', post: post %>
</div>
<% end %>
