<div id="modal-content-<%= post.id %>" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-body">
                <div id='image-holder-post-index'>
                  <div id='black-layer-modal'>
                    <div id='blog-header'>
                      <img id='blog-logo' src="/assets/IBR_logo.png">
                      <%= render 'home/admin_login' %>
                    </div>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <p id='post-title-modal'>
                      <%= post.title %>
                    </p>
                    <p id='post-author'>
                      by <%= post.author %>
                    </p>

                    <p id='post-body'>
                      <%= post.body %>
                    </p>

                    <%= render 'posts/edit_delete', post: post %>
                    <%= render 'posts/back_button' %>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div