<% content_for :head do %>
  <%= stylesheet_link_tag 'post_index' %>
  <%= stylesheet_link_tag 'post_show' %>
  <%= stylesheet_link_tag 'posts' %>
<% end %>

<div id='blog-header'>
  <%= render 'home/admin_login' %>
</div>

<div class='column' id='stories'>
  <div class='column-title'>
    <h2 class='column-title content'>STORIES</h2>
  </div>
  <%= render 'posts/posts', posts: @stories %>
</div>

<div class='column' id='features'>
  <div class='column-title'>
    <h2 class='column-title content'>FEATURES</h2>
  </div>
  <%= render 'posts/posts', posts: @features %>
</div>