<div id="modal-content-<%= post.id %>" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id='blog-header' class='blog-header-modal'>
          <img id='blog-logo' src="/assets/IBR_logo.png">
        </div>

        <p id='post-title-modal'>
          <%= post.title %>
        </p>
        <p id='post-author'>
          BY <%= post.author %>
        </p>

        <p id='post-body'>
          <%= h(post.body).gsub(/\n/, '<br />').html_safe %>
        </p>

        <%= render 'posts/edit_delete', post: post %>
        <%= render 'posts/back_button' %>
      </div>
    </div>
  </div>
</div>
