<% content_for :head do %>
  <%= stylesheet_link_tag 'post_show' %>
<% end %>

<div id='blog-header'>
  <img id='blog-logo' src="/assets/IBR_logo.png">
  <%= render 'home/admin_login' %>
</div>

<div id='post-wrapper'>
  <p id='post-title'>
    <%= @post.title %>
  </p>

  <p id='post-author'>
    BY <%= @post.author %>
  </p>

  <p id='post-body'>
    <%= sanitize_post @post.body.gsub(/\n/, '<br>') %>
  </p>

  <%= render 'posts/edit_delete', post: @post %>
  <%= render 'posts/back_button' %>
</div>
